* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: blueviolet;
}


@import url(//fonts.googleapis.com/css?family=Lato:300:400);


.hero {
  padding: 1rem 2rem;
  z-index: 3;
}

.hero-container {
  width: 1200px;
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero-text {
  font-size: 2rem;
  color: #222;
  font-weight: bold;
  margin: 1rem;
}

label {
  display: inline-block;
  cursor: pointer;
}

i {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.download-btn {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  color: #222;
  font-weight: 600;
  cursor: poiner;
  background-color: #fff;
}


.icon-container {
  align-items: center;
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

.item {
  margin: 0 10px;
}

.file {
  width: 1rem;
  height: 1rem;
}

/* effect container styling */
.effects-container {
  align-items: center;
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


